.footer{
    background-color: rgb(23, 35, 55);
    width: 100vw;
    height: 550px;
    position: relative;
}
.app{
  color: white;
  padding: 30px;
  position: absolute;
  left: 30px;
  /* margin-bottom: 10px; */
  top: 20px;
}
.about{
    color: rgb(123, 107, 107);
    /* position: absolute; */
    transform: translatey(-5px);
}
.second{
    color: white;
    padding: 30px;

    position: absolute;
    /* top: 120px; */
    left: 340px;
    top: 20px;
}
.helps{
    color: rgb(123, 107, 107);
    transform: translatey(-5px)
}
.third{
    color: white;
    padding: 30px;
    position: absolute;
    left: 700px;
    top: 20px;
}
.policy{
    color:rgb(123, 107, 107) ;
    transform: translatey(-5px);
}.fourth{
    color: white;
    padding: 30px;
    position: absolute;
    left: 1000px;
    top: 20px;
}.social{
    color:rgb(123, 107, 107) ;
    transform: translateY(-5px);
}
.vr{
    width: 1.5px;
    color:green;
    position: absolute;
    left: 1240px;
    top: 45px;
    background-color: rgb(31, 53, 37);
    height: 224px;
    /* position: relative; */
}
.fifth{
    color: white;
    padding: 30px;
    position: absolute;
    left: 1250px;
    top: 20px;
}
.mail{
    color:rgb(123, 107, 107) ;
    transform: translateY(-5px);
}.last{
    color: white;
    padding: 30px;
    position: absolute;
    left: 1550px;
    top: 20px;
}
.register{
    color:rgb(123, 107, 107) ;
    transform: translateY(-5px);
}
.yellow{
    /* position: absolute; */
    /* top: 100px; */
    /* width: 10px; */
    color: rgb(20, 17, 17);
    /* height: .5px; */
    transform: translateY(450px);
    /* height: 200px; */
    /* margin-top: -300px; */
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}.row{
    transform: translateY(465px);
    /* transform: translateX(100px); */
    position: absolute;
    left: 100px;
    
}
.seller{
    display: flex;
    gap: 8px;
    color: rgb(255, 191, 0);
    align-items: center;
}
.sell{
    color: white;
    font-size: 17px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.ad{
    transform: translateY(-63px);
    position: absolute;
    left: 340px;
    display: flex;
    width: 100px;
    align-items: center;
    gap: 8px;
    color: rgb(255, 191, 0);
}
.gift{
    color: white;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.faq{
    transform: translateY(-61px);
    position: absolute;
    left: 700px;
    display: flex;
    gap: 8px;
    color:rgb(255, 191, 0) ;
    align-items: center;

}
.star{
    color: white;
}
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.centre{
    transform: translateY(-61px);
    position: absolute;
    left:1000px ;
    display: flex;
    width: 120px;
    gap: 8px;
    color: rgb(255, 191, 0);
    align-items: center;
}.help{
    color: white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}.year{
    transform: translateY(-61px);
    position: absolute;
    left: 1390px;
    width: 200px;
    display: flex;
    align-items: center;
    color: rgb(255, 191, 0);
    gap: 8px;
}
.flip{
    color: white;
}

