<!-- <p>footer works!</p> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="footer">
    <div class="app">
        <p class="about">ABOUT</p>
        <p>Contact Us</p>
        <p>Careers</p>
        <p>Shopcart stories</p>
        <p>press</p>
        <p>Shopkart wholesale</p>
        <p>coroporate information</p>
    </div>
    <div class="second">
        <p class="helps">HELP</p>
        <p>Payments</p>
        <p>shipping</p>
        <p>cancellation $ returns</p>
        <p>FAQ</p>
        <p>report infringement</p>
    </div>
    <div class="third">
        <p class="policy">POLICY</p>
        <p>Return policy</p>
        <p>Terms of Use</p>
        <p>Security</p>
        <p>privacy</p>
        <p>sitmap</p>
        <p>EPR compliance</p>
    </div>
    <div class="fourth">
        <p class="social">SOCIAL</p>
        <p>Facebook</p>
        <p>Twitter</p>
        <p>Youtube</p>
    </div>
    <p class="vr"></p>
    <div class="fifth">
        <p class="mail">Mail Us:</p>
        <p>Shopkart Internet Private Limited,</p>
        <p>buildings Alyss Begonia &</p>
        <p>clove Embassy Tech Village,</p>
        <p>outer Ring Road,Palazhi Village,</p>
        <p>calicut,673017</p>
        <p>Kerala,India</p>

    </div>
    <div class="last">
        <p class="register">Registered Office Address:</p>
        <p>Shopkart Internet Private Limited, </p>
        <p>Buildings Alyssa, Begonia &</p>
        <p>Clove Embassy Tech Village,</p>
        <p>Outer Hilite  Road, Palazhi Village,</p>
        <p>kerala, 673017,</p>
        <p>Kerala, India</p>
        <p>CIN : U51109KA2012PTC066107</p>
        <p>Telephone: 044-45614700</p>
    </div>
    <hr class="yellow"> 
    <div class="row">
        <div class="seller">
        <p><span class="material-symbols-outlined">
            work
            </span></p>
            <p class="sell">Become a Seller</p>
            </div>
            <div class="ad">
                <p><span class="material-symbols-outlined">
                    redeem
                    </span></p>
                    <p class="gift">Gift Cards</p>
            </div>
            <div class="faq">
                <p><span class="material-symbols-outlined">
                    stars
                    </span></p>
                    <p class="star">Advertise</p>
            </div>
            <div class="centre">
                <p><span class="material-symbols-rounded">
                    help
                    </span></p>
                    <p class="help">Help Center</p>
            </div>
            <div class="year">
                <p><span class="material-symbols-outlined">
                    copyright
                    </span></p>
                    <p class="flip"> 2022-2023 Shopkart.com</p>
            </div>
    </div>
</div>
