<!-- <p>card works!</p> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
</head>
<body>
    <div class="card">
        <p class="para">Grab Upto 50%   off on </p>
        <p class="sele">selected Headphone</p>
            <button class="buy">Buy Now</button>
            <img src="../../assets/sumeet-b-6N37Z_DtiEo-unsplash__1_-removebg-preview.png" alt="" class="img">
    </div>
</body>
</html>

