<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>
    <div class="taskbar">
<div class="num">
        <p class="numbers"><span class="material-symbols-outlined" id="calls">
            call
            </span></p>
            <p class="plus">+00123456789</p>
        </div>
        <p class="offer">Get 50% Off on selected items  |  shop Now</p>
        <div class="two">
            <p class="lan">eng</p>
        <p class="english"><span class="material-symbols-outlined" id="icon">
            expand_more
            </span></p>
            
        </div>
        <div class="red">
            <p class="loca">Location</p>
        <p class="materialss"><span class="material-symbols-outlined">
            expand_more
            </span></p>
           
        </div>
    </div>
</body>
</html>

